#reviews-header {
    display: flex;
    justify-content: flex-start;

    position: relative;
    top: 9vh;
    left: 4vw;
    
    margin-bottom: 10vh;
}

#reviews-container {
    display: flex;
    justify-content: space-evenly;

    margin: auto;
    flex-wrap: wrap;
    box-sizing: content-box;

    position: relative;
    bottom: 3vh;

    min-width: 800px;
    max-width: 800px;
}

#individual-reviews {
    min-width: 200px;
    max-width: 200px;

    padding: 10px;

    margin-bottom: 10px;
}

#move-create-review-container {
    position: relative;
    bottom: 15vh;
    left: 40vw;
}

#create-review-button {
    font-family: 'Montserrat';
    color: #222222;

    background-color: white;
    font-weight: 800;
    font-size: 15px;

    min-width: 180px;
    max-width: 180px;

    min-height: 40px;

    border: 1px solid #222222;
    border-radius: 8px;
}

#hide-create-review-button {
    display: none;
}

#review-textarea {
    resize: none;

    border: 2px solid black;
    border-radius: 4px;

    font: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;

    color: black;
    height: 150px;
    width: 350px;

    position: relative;
    bottom: 5vh;
    right: 8vh;
}

#review-form {
    position: relative;
    top: 15vh;
    right: 4vw;
    z-index: 200;
}

#review-form-hidden {
    display: none;
}

.star-rating {
    display: flex;
    justify-content: flex-start;

    position: relative;
    bottom: 6vh;
    right: 4.1vw;
}

#stars-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.on {
  color: #ffd700;
}

.off {
  color: #ccc;
}

#submit-review {
    font-family: 'Montserrat';
    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    min-height: 30px;
    max-height: 30px;

    position: relative;
    bottom: 12vh;
    left: 12vw;

    cursor: pointer;
}

#submit-edit {
    font-family: 'Montserrat';
    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    min-height: 30px;
    max-height: 30px;

    position: relative;
    bottom: 12vh;
    left: 11vw;

    cursor: pointer;
}

.manage-user-review-buttons {
    margin: 2px;
    margin-top: 20px;

    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    min-height: 30px;
    max-height: 30px;

    position: relative;
    bottom: 2.3vh;
}

#edit-review-form {
    position: relative;
    top: 12vh;
    left: 31.8vw;
}

#review-add-img-button {
    font-family: 'Montserrat';
    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    min-height: 30px;
    max-height: 30px;

    cursor: pointer;

    position: relative;
    top: 1.06vh;
    left: 1.5vw;
}

#review-add-img-form {
    position: absolute;
}

#review-add-img-form-inner-div {
    position: relative;
    top: 2vh;
    right: 9vw;
}

#review-images-component-container {
    display: flex;
    justify-content: center;

    margin: auto;
    position: fixed;

    right: 1vw;
    left: 2vw;
    bottom: 16vh;

    z-index: 200;
}

.review-images {
    border-radius: 8px;

    min-width: 50vw;
    max-width: 50vw;
    min-height: 35vw;
    max-height: 35vh;
}

#show-review-images {
    font-family: 'Montserrat';
    color: #222222;

    background-color: white;
    font-weight: 800;
    font-size: 15px;

    min-width: 180px;
    max-width: 180px;

    min-height: 40px;

    border: none;

    cursor: pointer;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#review-images-container {
    border-radius: 8px;

    box-shadow: 0px 0px 13vw 3vw black;

    min-height: 35vw;
    max-height: 35vh;
}

#hide-review-images-container {
    display: none;
}

#iterate-review-images-div {
    display: flex;
    justify-content: space-between;
}

.review-images-iterator {
    text-decoration: underline;
    font-weight: 800;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    color: white;

    border: none;
    background-color: transparent;

    cursor: pointer;
}