#header {
    font-weight: 800;

    position: relative;
    top: 5vh;
    left: 10vw;
}

#reviews-container {
    display: flex;
    justify-content: space-evenly;

    margin: auto;
    flex-wrap: wrap;
    box-sizing: content-box;

    position: relative;
    top: 10vh;

    min-width: 950px;
    max-width: 950px;
}

#individual-reviews {
    border: 2px solid black;
    border-radius: 8px;

    min-width: 200px;
    max-width: 200px;

    padding: 20px;

    margin-bottom: 10px;
}