#current-images {
    display: flex;
    justify-content: center;

    position: absolute;
    left: 29vw;
}

#manage-images-header {
    display: flex;
    justify-content: center;

    font-weight: bold;
}

#manage-spot-images-container {
    display: flex;
    justify-content: center;

    margin: auto;

    flex-wrap: wrap;
    box-sizing: content-box;
}

#manage-spot-images {
    box-shadow: rgb(65 65 65) 0px 1px 10px -5px;

    margin-left: 4.2vw;

    border-radius: 8px;
    
    min-width: 300px;
    max-width: 300px;

    min-height: 250px;
    max-height: 250px;
}

#delete-image-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    position: relative;
    right: 3.8vw;
    top: 3vh;

    color: white;
    min-height: 4vh;

    margin-bottom: 6vh;

    background-color: #6F019C;
    border: 1px solid #6F019C;
    border-radius: 6px;

    cursor: pointer;
}

#form-container {
    max-width: 475px;
    width: 100%;
    margin: 0 auto;

    position: relative;
    top: 5vh;
}

#new-spot-form-container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;

    position: relative;
    top: 5vh;
    left: 2vw;
}

.image-form-holders {
    display: flex;
    justify-content: center;
    margin: 1px;

    position: relative;
    left: 15px;
}

.image-form-holders > p {
    display: flex;
    justify-content: center;
    margin: 1px;

    position: relative;
    left: 15px;
}

#add-image-button {
    font-family: 'Montserrat';
    color: #222222;

    background-color: white;
    font-weight: 800;
    font-size: 16px;

    min-height: 8vh;
    max-height: 8vh;

    min-width: 24vw;
    max-width: 24vw;

    border: 1px solid #222222;
    border-radius: 8px;

    z-index: 400;

    cursor: pointer;
}

#image-form {
    display: flex;
    justify-content: center;

    border: 2px solid black;
    border-radius: 14px;

    background-color: #F7F7F7;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#new-spot-image-form {
    display: flex;
    justify-content: center;

    border: 2px solid black;
    border-radius: 14px;

    background-color: #F7F7F7;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#preview-image-form {
    display: flex;
    justify-content: space-evenly;
}

#photos-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

    position: relative;
    top: 2vh;

    background-color: black;
    color: white;

    min-height: 30px;
    max-height: 30px;
    
    border: 1px solid black;
    border-radius: 5px;

    box-shadow: -1.5px 1.5px 1px 0px #112D32;
}

#photos-input::placeholder {
    font-family: 'Montserrat', sans-serif;
    
    text-align: center;
    color: white;

    font-style: italic;
    font-weight: 800;
}

#new-spot-photos-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

    position: relative;
    top: 0vh;
    right: 2vw;

    background-color: black;
    color: white;

    min-height: 45px;
    max-height: 45px;
    min-width: 18vw;
    max-width: 18vw;

    padding-right: 75px;
    
    border: 1px solid black;
    border-radius: 40px;

    box-shadow: -1.5px 1.5px 1px 0px #112D32;
}

#new-spot-photos-input::placeholder {
    font-family: 'Montserrat', sans-serif;

    text-align: center;
    color: white;

    font-style: italic;
    font-weight: 800;

    position: relative;
    left: 2.4vw;
}

.preview-radio {
    position: relative;
    right: 25px;
    top: 5px;

    margin: 5px;
}

#add-image {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    text-align: center;
    color: white;

    background-color: #6F019C;
    border: 1px solid #6F019C;
    border-bottom: 3px solid #49006d;
    border-radius: 6px;

    box-shadow: 1.5px 1px 0.5px 0px black;
    box-sizing: border-box;

    cursor: pointer;
    touch-action: manipulation;
    vertical-align: middle;
    outline: 0;

    min-width: 50px;
    max-width: 50px;
}

#new-spot-add-image {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    text-align: center;
    color: white;

    background-color: #6F019C;
    border: 1px solid #6F019C;
    border-bottom: 3px solid #49006d;
    border-radius: 6px;

    box-shadow: 1.5px 1px 0.5px 0px black;
    box-sizing: border-box;

    cursor: pointer;
    touch-action: manipulation;
    vertical-align: middle;
    outline: 0;

    min-width: 50px;
    max-width: 50px;

    position: relative;
    left: 1vw;
}

input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}