#all-spots {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: content-box;

    min-width: 950px;
    max-width: 950px;
}

.spot-divs {
    text-align: left;
    line-height: 10px;
    padding: 20px;

    min-width: 160px;
    max-width: 160px;

    min-height: 140px;
    max-height: 140px;

    margin: 15px;
}

#preview-image {
    border: 1px solid black;
    border-radius: 8px;
    min-width: 300px;
    max-width: 300px;

    min-height: 250px;
    max-height: 250px;
}