#all-spots {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: content-box;

    min-width: 900px;
    max-width: 900px;

    position: relative;
    right: 4.5vw;
    padding-bottom: 80px;
}

.spot-divs {
    text-align: left;
    line-height: 10px;
    padding: 20px;

    min-width: 160px;
    max-width: 160px;

    min-height: 290px;
    max-height: 290px;

    margin: 15px;
}

#preview-image {
    border: 1px solid black;
    border-radius: 8px;
    min-width: 300px;
    max-width: 300px;

    min-height: 250px;
    max-height: 250px;
}

#spot-name {
    line-height: 15px;
    margin-bottom: 10px;
}