#welcome-header {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 800;

    border-bottom: 1px solid black;

    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 5vh;
}

#manage-reviews-button-div {
    display: flex;
    justify-content: center;
}

.manage-account-buttons {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;

    margin: 2px;
    margin-top: 20px;

    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #6f019c;
    border: 1px solid #6f019c;
    border-bottom: 3px solid #460062;
    border-radius: 6px;

    min-height: 50px;
    max-height: 50px;

    min-width: 20vw;
    max-width: 20vw;

    position: relative;
    bottom: 2.3vh;
}

#account-reviews {
    position: relative;
    top: 10vh;
}

#review-component-container {
    display: flex;
    justify-content: center;
}