#welcome-header {
    display: flex;
    justify-content: center;

    color: white;

    font-size: 35px;
    font-weight: 800;

    border-bottom: 1px solid white;

    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 5vh;
}

#manage-reviews-button-div {
    display: flex;
    justify-content: center;
}

.manage-account-buttons {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;

    margin: 2px;
    margin-top: 20px;

    color: #222222;

    background-color: white;
    border: 1px solid #222222;
    border-radius: 8px;

    min-height: 50px;
    max-height: 50px;

    min-width: 20vw;
    max-width: 20vw;

    position: relative;
    bottom: 3vh;

    cursor: pointer;
}