#all-spots {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: content-box;

    min-width: 1000px;
    max-width: 1000px;

    position: relative;
    right: 4.5vw;
    padding-bottom: 80px;
}

.spot-divs {
    text-align: left;
    line-height: 10px;
    padding: 20px;

    min-width: 160px;
    max-width: 160px;

    min-height: 290px;
    max-height: 290px;

    margin: 26px;
}

#preview-image {
    box-shadow: rgb(65 65 65) 0px 1px 10px -5px;
    
    border-radius: 8px;
    min-width: 300px;
    max-width: 300px;

    min-height: 250px;
    max-height: 250px;
}

#spot-details-name {
    line-height: 20px;
    margin-bottom: -1vh;
}

.spot-details {
    line-height: 5px;
}