#user-spots {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: content-box;

    min-width: 900px;
    max-width: 900px;

    position: relative;
    right: 4.5vw;
    padding-bottom: 80px;
}

.user-spot-divs {
    text-align: left;
    line-height: 10px;
    padding: 20px;

    min-width: 160px;
    max-width: 160px;

    min-height: 290px;
    max-height: 290px;

    margin: 15px;
}

.manage-buttons {
    margin: 2px;
    margin-top: 20px;

    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    min-height: 30px;
    max-height: 30px;

    position: relative;
    bottom: 2.3vh;
}

#manage-photos {
    position: relative;
    bottom: 5vh;
}

#edit-spot {
    min-width: 52px;
}

.no-content {
    display: flex;
    justify-content: center;

    font-weight: 800;
    font-size: 25px;

    position: relative;
    top: 10vh;
}

#manage-spot-details {
    position: absolute;
}

#manage-buttons-container {
    position: relative;
    top: 0.5vh;
    left: 12.5vw;
}

#spot-name {
    line-height: 15px;
    margin-bottom: 10px;
}