#user-spots {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: content-box;

    min-width: 950px;
    max-width: 950px;
}

.user-spot-divs {
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
}

.manage-buttons {
    margin: 2px;
    margin-top: 20px;

    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    min-height: 30px;
    max-height: 30px;
}

#edit-spot {
    min-width: 52px;
}