#user-spots {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: content-box;

    min-width: 950px;
    max-width: 950px;
}

.user-spot-divs {
    text-align: center;
    padding: 20px;
    
    text-align: left;
    line-height: 10px;
    min-width: 160px;
    max-width: 160px;

    min-height: 140px;
    max-height: 140px;

    margin: 15px;
}

.manage-buttons {
    margin: 2px;
    margin-top: 20px;

    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    min-height: 30px;
    max-height: 30px;
}

#manage-photos {
    position: relative;
    bottom: 2.5vh;
}

#edit-spot {
    min-width: 52px;
}

.no-content {
    display: flex;
    justify-content: center;

    font-weight: 800;
    font-size: 25px;

    position: relative;
    top: 10vh;
}

#manage-buttons-container {
    position: relative;
    bottom: 9vh;
    left: 12vw;
}