#current-images {
    display: flex;
    justify-content: center;

    position: absolute;
    left: 29vw;
}

#manage-images-header {
    display: flex;
    justify-content: center;

    font-weight: bold;
}

#manage-spot-images-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: content-box;

    min-width: 900px;
    max-width: 900px;

    position: relative;
    right: 2vw;
    padding-bottom: 80px; 
}

#manage-spot-images {
    margin: 15px;
}

#spot-images-div {
    text-align: left;
    line-height: 10px;
    padding: 20px;

    min-width: 160px;
    max-width: 160px;

    min-height: 290px;
    max-height: 290px;

    margin: 15px;
}

#delete-image-button {
    margin: 2px;
    margin-top: 20px;

    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    position: relative;
    bottom: 3vh;
    left: 7vw;
}

#manage-spot-images {
    position: relative;
    right: 2vw;
    border: 1px solid black;
    border-radius: 8px;
    
    min-width: 300px;
    max-width: 300px;

    min-height: 250px;
    max-height: 250px;
}

#form-container {
    max-width: 475px;
    width: 100%;
    margin: 0 auto;

    position: relative;
    top: 5vh;
}

#new-spot-form-container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;

    position: relative;
    top: 5vh;
    left: 2vw;
}

.image-form-holders {
    display: flex;
    justify-content: center;
    margin: 1px;

    position: relative;
    left: 15px;
}

.image-form-holders > p {
    display: flex;
    justify-content: center;
    margin: 1px;

    position: relative;
    left: 15px;
}

#add-images {
    display: flex;
    justify-content: center;
    position: relative;
    top: 2vh;
}

#add-image-button {
    margin: 2px;
    margin-top: 20px;

    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    min-height: 40px;
    max-height: 40px;

    min-width: 125px;
    max-width: 125px;

    position: relative;
    left: 1.7vw;
    bottom: 13vh;
}

#image-form {
    display: flex;
    justify-content: center;

    border: 2px solid black;
    border-radius: 14px;

    background-color: #F7F7F7;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    position: relative;
    left: 2vw;
    bottom: 12vh;
}

#new-spot-image-form {
    display: flex;
    justify-content: center;

    border: 2px solid black;
    border-radius: 14px;

    background-color: #F7F7F7;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#preview-image-form {
    display: flex;
    justify-content: space-evenly;
}

#photos-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

    position: relative;
    top: 2vh;

    background-color: black;
    color: white;

    min-height: 30px;
    max-height: 30px;
    
    border: 1px solid black;
    border-radius: 5px;

    box-shadow: -1.5px 1.5px 1px 0px #112D32;
}

#photos-input::placeholder {
    font-family: 'Montserrat', sans-serif;
    
    text-align: center;
    color: white;

    font-style: italic;
    font-weight: 800;
}

#new-spot-photos-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

    position: relative;
    top: 0vh;
    right: 2vw;

    background-color: black;
    color: white;

    min-height: 45px;
    max-height: 45px;
    min-width: 18vw;
    max-width: 18vw;

    padding-right: 75px;
    
    border: 1px solid black;
    border-radius: 40px;

    box-shadow: -1.5px 1.5px 1px 0px #112D32;
}

#new-spot-photos-input::placeholder {
    font-family: 'Montserrat', sans-serif;

    text-align: center;
    color: white;

    font-style: italic;
    font-weight: 800;

    position: relative;
    left: 2.4vw;
}

.preview-radio {
    position: relative;
    right: 25px;
    top: 5px;

    margin: 5px;
}

#add-image {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    text-align: center;
    color: white;

    background-color: #6F019C;
    border: 1px solid #6F019C;
    border-bottom: 3px solid #49006d;
    border-radius: 6px;

    box-shadow: 1.5px 1px 0.5px 0px black;
    box-sizing: border-box;

    cursor: pointer;
    touch-action: manipulation;
    vertical-align: middle;
    outline: 0;

    min-width: 50px;
    max-width: 50px;
}

#new-spot-add-image {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    text-align: center;
    color: white;

    background-color: #6F019C;
    border: 1px solid #6F019C;
    border-bottom: 3px solid #49006d;
    border-radius: 6px;

    box-shadow: 1.5px 1px 0.5px 0px black;
    box-sizing: border-box;

    cursor: pointer;
    touch-action: manipulation;
    vertical-align: middle;
    outline: 0;

    min-width: 50px;
    max-width: 50px;

    position: relative;
    left: 1vw;
}