#spot-list-container {
    display: flex;
    justify-content: flex-start;

    border-bottom: 2px solid rgb(220, 220, 220);
    margin-left: 300px;
    margin-right: 300px;
}

#spot-list {
    list-style: none;
    line-height: 35px;
}

#spot-images-container {
    display: flex;
    justify-content: center;
}

#spot-images {
    border: 1px solid black;
    border-radius: 8px;
    
    min-width: 300px;
    max-width: 300px;

    min-height: 250px;
    max-height: 250px;

    margin: 15px;
}

#move-reviews {
    position: relative;
    top: 50vh;
};