#create-spot {
    display: flex;
}

#spot-creation-prompts {
    display: flex;
    justify-content: flex-start;

    font-weight: 800;
    font-size: 40px;

    color: white;
    background: linear-gradient(#E61E4D,#a30a42,#59086E,#440589,#3B07BB);

    height: 100vh;
    width: 100vh;

    margin-top: -16px;
    padding-left: 5vh;
};

#prompts {
    position: relative;
    top: 70vh;
}

#create-spot-forms {
    position: relative;
    left: 50vh;
    top: 50vh;
}

#form-navigation-1 {
    border-top: 2px solid rgb(220, 220, 220);
    width: 105vh;

    position: relative;
    top: 20.8vh;
    right: 50vh;
}

#form-navigation-2 {
    border-top: 2px solid rgb(220, 220, 220);
    width: 105vh;

    position: relative;
    top: 2.8vh;
    right: 50vh;
}

#form-navigation-3 {
    border-top: 2px solid rgb(220, 220, 220);
    width: 105vh;

    position: relative;
    top: 28vh;
    right: 50vh;
}

#form-navigation-4 {
    border-top: 2px solid rgb(220, 220, 220);
    width: 105vh;

    position: relative;
    top: 13.5vh;
    right: 50vh;
}

#form-navigation-5 {
    border-top: 2px solid rgb(220, 220, 220);
    width: 105vh;

    position: relative;
    top: 28vh;
    right: 50vh;
}

#form-navigation-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 800;
    
    position: relative;
    top: 0.7vh;
    left: 80vh;
    color: white;

    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 8px;

    min-height: 45px;
    max-height: 45px;

    min-width: 75px;
    max-width: 75px;
}

#form-navigate-back-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 800;

    position: relative;
    top: 0.7vh;
    left: 5vh;

    border: none;
    background-color: white;
    text-decoration: underline;

    min-height: 50px;
    max-height: 50px;

    min-width: 70px;
    max-width: 70px;
}

#form-save-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 800;
    
    position: relative;
    top: 0.8vh;
    left: 70vh;
    color: white;

    background: linear-gradient(to right, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%);
    border: 1px solid #222222;
    border-radius: 8px;

    min-height: 45px;
    max-height: 45px;

    min-width: 150px;
    max-width: 150px;
}

.create-spot-input {
    font-family: 'Montserrat', sans-serif;

    border: none;
    border-radius: 40px;

    font: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    
    color: white;
    height: 50px;
    width: 30vw;

    position: relative;
    bottom: 25vh;
    right: 30vh;

    cursor: pointer;
    font-size: 20px;

    text-align: center;
}

.create-spot-input::placeholder {
    text-align: center;
    color: white;
    font-style: italic;
}

#create-spot-description {
    font-family: 'Montserrat', sans-serif;
    resize: none;

    border: none;
    border-radius: 20px;

    font-size: 20px;

    color: white;
    background-color: black;
    height: 175px;
    width: 400px;

    position: relative;
    bottom: 29vh;
    right: 27vh;

    text-align: center;

    cursor: pointer;
}

#create-spot-description::placeholder {
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: 800;

    position: relative;
    top: 8vh;
}

#address-form {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: content-box;

    min-width: 200px;
    max-width: 200px;

    position: fixed;
    right: 6vw;
    bottom: 0vh;
}

.create-spot-address-inputs {
    font-family: 'Montserrat', sans-serif;

    border: none;
    border-radius: 6px;

    margin: 0.4px;

    font: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    
    color: white;
    height: 50px;
    width: 30vw;

    position: relative;
    bottom: 27vh;
    right: 30vh;

    cursor: pointer;
    font-size: 20px;

    text-align: center;
}

.create-spot-address-inputs::placeholder {
    font-style: italic;
    text-align: center;
    color: white;
}

#create-spot-image-form {
    position: relative;
    bottom: 35vh;
    right: 25.5vw;
}

#checkout-listing-container {
    position: fixed;
    right: 18vw;
    bottom: 22vh;
}

#checkout-listing {
    display: flex;
    justify-content: center;

    border: 2px solid transparent;
    border-radius: 8px;

    box-shadow: 0px 2px 4px 0px rgb(65, 65, 65);

    min-width: 20.5vw;
    max-width: 20.5vw;

    min-height: 57vh;
    max-height: 60vh;

    overflow-y: auto;
    overflow-x: hidden;
}

#checkout-listing-card {
    position: relative;
    top: 0.1vh;
    right: 1px;

    border: 1px solid rgb(220, 220, 220);
    border-bottom: none;
    border-radius: 8px;

    min-width: 20vw;
    max-width: 20vw;

    min-height: 56vh;
    max-height: 60vh;
}

#checkout-listing-image > img {
    position: relative;
    bottom: 1px;

    border-radius: 8px;

    min-height: 25vh;
    max-height: 25vh;

    min-width: 20.1vw;
    max-width: 20.1vw;

    z-index: 200;
}

#expand-details-button {
    display: flex;
    justify-content: center;
}

#expand-details-button > button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    position: relative;
    top: 1vh;

    text-align: center;
    color: white;

    background-color: #6F019C;
    border: 1px solid #6F019C;
    border-bottom: 3px solid #49006d;
    border-radius: 6px;

    box-shadow: 1.5px 1px 0.5px 0px black;
    box-sizing: border-box;

    cursor: pointer;
    touch-action: manipulation;
    vertical-align: middle;
    outline: 0;

    min-width: 100px;
    max-width: 100px;

    min-height: 5vh;
    margin-bottom: 2vh;
}

#checkout-listing-details > ul {
    position: relative;
    top: 5vh;
    right: 7vw;

    text-align: center;
}

#review-spot-ul {
    font-weight: 800;
    line-height: 40px;
    list-style: none;
}

::-webkit-scrollbar {
    width: 1px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(125, 125, 125);
}