#navigation {
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid rgb(220, 220, 220);
    position: relative;
    bottom: 2.1vh;
}

#home-navlink {
    position: relative;
    top: 2vh;
    left: 5vh;
    text-decoration: none;
    color: #FF385C;

    font-size: 25px;
    font-weight: 700;

    letter-spacing: -2px;
}

#profile-button-container {
    display: flex;
    justify-content: flex-end;

    position: relative;
    left: 35vw;
    bottom: 0.5vh;
    margin-left: 20vw;
}

#profile-button {
    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    min-height: 30px;
    max-height: 30px;

    cursor: pointer;
}

#hide-profile-button {
    display: none;
}

#logout-button {
    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    min-height: 30px;
    max-height: 30px;

    cursor: pointer;
}

.profile-dropdown {
    list-style: none;
    line-height: 30px;
    margin-right: 10vw;
}

.navigation-buttons {
    font-style: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    min-height: 35px;
    max-height: 35px;

    cursor: pointer;
}