#navigation {
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid rgb(220, 220, 220);
    position: relative;
    bottom: 6vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#home-navlink {
    position: relative;
    top: 7vh;
    left: 5vh;
    text-decoration: none;
    color: #FF385C;

    font-size: 25px;
    font-weight: 700;

    letter-spacing: -2px;
    z-index: 600;
}

#profile-button {
    background-image: url('../../menu_FILL0_wght300_GRAD200_opsz48.png');
    background-position: bottom 6px left 10px;
    background-repeat: no-repeat;
    background-size: 3vh;
}

#logout-button {
    color: white;

    background-color: #6F019C;
    border: 1px solid #6F019C;

    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;

    min-width: 100px;
    min-height: 35px;

    border: none;
    border-radius: 6px;

    cursor: pointer;
    margin-top: 1vh;
}

.profile-dropdown {
    list-style: none;
    line-height: 30px;
    margin-right: 10vw;
}

.navigation-buttons {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;

    border: 1px solid black;
    border-radius: 8px;

    background-color: #FF385C;
    border: 1px solid #FF385C;
    border-bottom: 3px solid #a6223a;
    border-radius: 6px;

    position: relative;
    top: 3.2vh;

    margin-left: 1vw;
    
    z-index: 800;

    min-height: 35px;
    max-height: 35px;

    cursor: pointer;
}

.profile-menu-buttons {
    font-family: 'Montserrat', sans-serif;

    font-weight: 800;
    font-size: 16px;

    color: #222222;

    background-color: white;
    border: 1px solid #222222;
    border-radius: 8px;

    min-height: 35px;
    max-height: 35px;

    min-width: 14vw;
    max-width: 14vw;
    
    margin-bottom: 2vh;

    cursor: pointer;
}

.profile-menu-buttons:hover {
    box-shadow: 0px 1px 10px -5px rgb(65 65 65);
}

#profile-button:hover {
    box-shadow: 0px 1px 10px -5px rgb(65 65 65);
}

#search-icon {
    background-image: url('../../search (1).png');
    background-position: bottom 1.3vh left 0.54vw;
    background-repeat: no-repeat;
    background-size: 1.6vh;
}

#search-icon:hover {
    box-shadow: 0px 1px 10px -5px rgb(65 65 65);
}

#final-search-icon {
    background: linear-gradient(to right, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%);
}